<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="css/home.css">


<div class="table-responsive-xs container-fluid">
    <h1>Inventario</h1>
    <table class="table table-hover table-bordered">
        
        <thead class="table-header table-info">
            <td>Producto</td>
            <td>Stock</td>
            <td>Stock querido</td>
            <td>Hace falta comprar</td>
        </thead>
        
        <tbody class="table-body">

            <% for( let i = 0; i < articles.length; i++ ) { %><%# TODO: cambiar el 3 por el n° de las tablas, proporcionada por el server (app.js) %>
                <%# TODO: cambiar la info de las celdas, proporcionada por el server (app.js) %>
                <tr>
                    <td><%= articles[i].name %></td>
                    <td><%= articles[i].actualQ %></td>
                    <td><%= articles[i].wihsedQ %></td>
                    <td><%= articles[i].wihsedQ - articles[i].actualQ%></td>
                </tr>

                <% } %>
        </tbody>  
    
    </table>
</div>
<a href="/add-article">
    <button class="submit-button btn btn-primary"><i class="fa-solid fa-plus"></i></button>
</a>
<!-- <form action="/add-item" method="post">
    <button type="submit" class="submit-button btn btn-primary"><i class="fa-solid fa-plus"></i></button>
</form> -->

<%- include("partials/footer.ejs") %> 